.view-trailer{
  position: relative;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  
}
.description-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.397);
  width: 100%;

}
.description-text{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.button1{
  background-color: rgb(255, 208, 0);
  color: black;
  font-weight: 700;
  width: 100%;

}
h1{
  text-align: center;
}
.general-container{
  justify-content: center;
  text-align: center;
  flex-flow: column;

}
.movie-container{
  text-align: center;
  height: 300px;
  width: 200px;
}
.movies-container {
  display: grid;
  justify-content: center;
  grid-template-rows: 350px;
  grid-template-columns: 200px 200px 200px;
  gap: 2rem;
  grid-auto-rows: 350px;
  grid-auto-flow: row;
  margin-top: 50px;
}

.img-movie-container{

  border-radius: 20px;
}
.reproductor-container{
  display: flex;
  height: 400px;
  flex-flow: column;
}
.youtube-container{
  display: flex;
}

/*MEDIA QUERIES PARA EL RESPONSIVE*/
@media (max-width: 700px){

  .movies-container {
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: 200px 200px;
    gap: 2rem;
    grid-auto-rows: 350px;
    grid-auto-flow: row;
    margin-top: 50px;
  }
}

@media (max-width: 472px){

  .movies-container {
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: 200px;
    gap: 2rem;
    grid-auto-rows: 350px;
    grid-auto-flow: row;
    margin-top: 50px;
    justify-content: center;
  }
}